body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
}

.tp-container {
    position: relative;
    margin: 1rem auto;
    padding: 0 1rem;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.contact {
    position: relative;
    width: 100%;
    top: 80rem;
}

.tp-contact__context {
    width: 100%;
    text-align: center;
}
.tp-contact__item-text {
    width: 326px;
    position: relative;
    left: 14rem;
    top: 4rem;
}
.tp-contact__context-title {
    margin-bottom: 3rem;
    font-weight: 500;
    font-size: 48px;
    font-family: var(--font-family-primary);
}

.tp-contact__blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10rem;
    position: relative;
    left: 8rem;
    top: -4rem;
}

.tp-contact__blocks-item--media,
.tp-contact__blocks-item--bus,
.tp-contact__blocks-item--contact {
    flex: 1;
    position: absolute;
    padding-top: 10rem;  
}
.tp-contact__blocks-item--contact {
    top: 0;
    left: -20rem;
}
.tp-contact__blocks-item--media {
    top: 0;
    left: 36rem;
}
.tp-contact__blocks-item--bus {
    top: 0;
    left: 8rem;
}
.tp-contact__BgContact {
    z-index: -3;
    position: absolute;
    width: 422px;
    height: 390px;
}

.tp-contact__MaskContact {
    z-index: -2;
    position: absolute;
    width: 422px;
    height: 390px;
}

.tp-contact__BgBus {
    position: absolute;
    z-index: -3;
    width: 422px;
    height: 390px;
}

.tp-contact__MaskBus {
    position: absolute;
    z-index: -2;
    width: 422px;
    height: 390px;
}

.tp-contact__BgMedia {
    position: absolute;
    z-index: -3;
    width: 422px;
    height: 390px;
}

.tp-contact__MaskMedia {
    position: absolute;
    z-index: -2;
    width: 422px;
    height: 390px;
}

.tp-contact__item-tittle {
    margin-bottom: 3rem;
    font-weight: 600;
    position: relative;
    z-index: 1;
    font-size: 32px;
    font-family: var(--font-family-primary);
}

.tp-contact__item-description {
    margin-bottom: 5rem;
    padding: 0 1rem;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-family-secondary);
    color: var(--second-text-color);
    position: relative;
    z-index: 1;
}

.tp-contact_btn {
    background-color: var(--primary-color);
    color: var(--second-text-color);
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--second-text-color);
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: 210px;
    font-size: 18px;
    font-weight: 700;
    font-family: var(--font-family-primary);
}

.tp-contact_btn:hover {
    background-color: var(--primary-color-dark);
}
.button--color{
    background-color: var(--white-color);
}
.tittle-4--color {
    color: var(--white-color);
}
.tp-contact__BgContact768,
.tp-contact__MaskContact768,
.tp-contact__BgContact375,
.tp-contact__MaskContact375,
.tp-contact__BgBus768,
.tp-contact__MaskBus768,
.tp-contact__BgBus375,
.tp-contact__MaskBus375,
.tp-contact__BgMedia768,
.tp-contact__MaskMedia768,
.tp-contact__BgMedia375,
.tp-contact__MaskMedia375   {
    display: none;
}

@media screen and (max-width: 1280px) {
    .tp-contact__MaskMedia,
    .tp-contact__BgMedia,
    .tp-contact__MaskBus,
    .tp-contact__BgBus,
    .tp-contact__MaskContact,
    .tp-contact__BgContact {
        width: 328px;
        height: 393px;
    }
    .tp-contact__blocks-item--contact {
        top: 0;
        left: -13rem;
    }
    .tp-contact__blocks-item--media {
        top: 0;
        left: 32rem;
    }
    .tp-contact__blocks-item--bus {
        top: 0;
        left: 9.5rem;
    }
    .tp-contact__item-text {
        width: 232px;
        left: 10rem;
    }
}
@media screen and (max-width: 1024px) {
    .tp-contact__MaskMedia,
    .tp-contact__BgMedia,
    .tp-contact__MaskBus,
    .tp-contact__BgBus,
    .tp-contact__MaskContact,
    .tp-contact__BgContact {
        width: 298px;
        height: 387px;
    }
    .tp-contact__blocks-item {
        flex: 1;
        position: relative;
        padding-top: 5rem;  
    }
    .tp-contact__blocks-item--contact {
        top: 0;
        left: -14rem;
    }
    .tp-contact__blocks-item--media {
        top: 0;
        left: 27rem;
    }
    .tp-contact__blocks-item--bus {
        top: 0;
        left: 6.5rem;
    }
}
@media (max-width: 768px) {
    .contact {
        top: 115rem;
    }
    .tp-contact__blocks {
        flex-direction: column;
        align-items: center;
    }

    .tp-contact__blocks-item {
        padding-top: 2rem;
    }

    .tp-contact__item-tittle {
        margin-bottom: 1rem;
    }

    .tp-contact__item-description {
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    .tp-contact_btn {
        padding: 0.5rem 1rem;
    }
    .tp-contact__BgContact768,
    .tp-contact__MaskContact768,
    .tp-contact__BgBus768,
    .tp-contact__MaskBus768,
    .tp-contact__BgMedia768,
    .tp-contact__MaskMedia768 {
        display: block;
        position: absolute;
    }
    .tp-contact__BgContact,
    .tp-contact__MaskContact,
    .tp-contact__BgContact,
    .tp-contact__MaskContact,
    .tp-contact__BgBus,
    .tp-contact__MaskBus,
    .tp-contact__BgBus,
    .tp-contact__MaskBus,
    .tp-contact__BgMedia,
    .tp-contact__MaskMedia,
    .tp-contact__BgMedia,
    .tp-contact__MaskMedia {
        display: none;
    }
    .tp-contact__blocks-item--bus {
        top: 17rem;
        left: -8rem;
    }
    .tp-contact__blocks-item--media {
        top: 34rem;
        left: -8rem;
    }
    .tp-contact__blocks-item--contact {
        left: -8rem;
    }
    .tp-contact__item-text {
        width: 566px;
        left: 5rem;
    }
}
@media (max-width: 375px) {
    .contact {
        top: 166rem;
    }
    .tp-contact__BgContact768,
    .tp-contact__MaskContact768,
    .tp-contact__BgBus768,
    .tp-contact__MaskBus768,
    .tp-contact__BgMedia768,
    .tp-contact__MaskMedia768 {
        display: none;
    }
    .tp-contact__BgMedia375,
    .tp-contact__MaskMedia375,
    .tp-contact__BgBus375,
    .tp-contact__MaskBus375, 
    .tp-contact__BgContact375,
    .tp-contact__MaskContact375 {
        display: block;
        position: absolute;
    }
    .tp-contact__blocks {
        gap: 2rem;
    }
    .tp-contact__blocks-item {
        padding: 5rem 2rem;
    }
    .tp-contact__item-text {
        left: 3rem;
        width: 247px;
    }
    .tp-contact__blocks-item--bus {
        top: 20rem;
    }
    .tp-contact__blocks-item--media {
        top: 42rem;
    }
}
