body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
}

.tp-container {
    margin: 1rem 19rem;
    padding: 0 1rem; 
    max-width: 1200px; 
}

.tp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tp-header__container {
    display: flex;
    align-items: center;
    position: relative;
}

.tp-header__lang {
    padding-left: 1rem;
    position: relative;
}

.lang__button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.lang__button-img {
    width: 0.6rem;
    height: 0.3rem;
    padding-left: 0.3rem;
}

.lang__dropdown {
    display: none; /* Add this line to ensure dropdowns are hidden by default */
    position: absolute;
    top: 100%;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    list-style: none;
    margin: 0;
    width: 100px;
}

.lang__dropdown--desktop {
    left: 0;
}

.lang__dropdown--mobile {
    left: 9rem;
}

.lang__dropdown li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}

.lang__dropdown li img {
    width: 70%;
    height: auto;
}

.tp-header__nav {
    display: flex;
    align-items: center;
}

.tp-header__nav-list {
    list-style: none;
    display: flex;
}

.tp-header__nav-item a {
    text-decoration: none;
    color: var(--main-text-color);
    padding-right: 4.5rem;
}

.tp-header__nav-item a:hover {
    color: var(--primary-text-color);
}

.tp-header__btn-main {
    background-color: var(--white-color);
    color: var(--main-text-color);
    padding: 0.8rem 2.3rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 700; 
}

.tp-header__btn-main-feature {
    background-color: var(--primary-text-color);
    color: var(--white-color);
    padding: 0.8rem 2.3rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 700; 
}

.tp-header__hamburger {
    display: none;
}

.tp-header__mobile {
    display: none;
}

.tp-header__mobile-nav {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    padding: 1rem;
    text-align: center;
}

.tp-header__mobile-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tp-header__mobile-close {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding-right: 2rem;
}

.tp-header__mobile-nav-list {
    list-style: none;
    padding: 0;
    margin: 8rem 0 0 0;
    width: 100%;
}

.tp-header__mobile-nav-item {
    margin: 2rem 0;
    font-size: 1.1rem;
}

.tp-header__mobile-nav-item a,
.tp-header__mobile-nav-item button {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--main-text-color);
}

.tp-header__mobile-nav-item a:hover,
.tp-header__mobile-nav-item button:hover {
    color: var(--primary-text-color);
}

.tp-header__btn-mobile {
    color: var(--white-color);
    background-color: var(--primary-text-color);
    padding: 0.8rem 3rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 700;
    margin: 12rem auto 1rem;
}

.tp-header__social-icon {
    display: block;
    margin: 1rem auto;
    max-width: 300px;
}

.tp-header__rect1-img,
.tp-header__rect2-img,
.tp-header__patern-img {
    display: block;
    position: absolute;
    z-index: -1;
}

.tp-header__rect1-img {
    top: 16rem;
    left: -1rem;
}

.tp-header__rect2-img {
    top: -1rem;
    right: 0;
}

.tp-header__patern-img {
    bottom: 8rem;
    right: -1rem;
}

@media (max-width: 1440px) {
    .tp-container {
        margin: 1rem 7.75rem;
    }

    .tp-header__nav-item a {
        padding-right: 1rem;
    }
}

@media (max-width: 1024px) {
    .tp-container {
        margin: 1rem 2.5rem;
    }
}

@media (max-width: 900px) {
    .tp-header__lang {
        display: none;
    }

    .lang__button {
        padding-left: 1rem;
    }
}

@media (max-width: 768px) {
    .tp-container {
        margin: 1rem;
    }

    .tp-header__nav,
    .tp-header__btn {
        display: none;
    }

    .tp-header__hamburger {
        display: block;
        cursor: pointer;
    }

    .tp-header__mobile-nav {
        display: none;
    }

    .tp-header__mobile {
        display: block;
    }
}

@media (max-width: 375px) {
    .tp-container {
        padding: 1rem;
    }

    .tp-header__container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .tp-header__logo {
        margin-bottom: 0.5rem;
    }

    .tp-header__lang {
        padding-left: 0;
        margin-bottom: 1rem;
    }
}
