.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 660px;
    margin: 0 auto;
    position: relative;
    padding: 2rem 0; 
    top: 5rem;
}

.tp-hero__content {
    position: relative;
    width: 100%;
    max-width: 660px;
}

.tp-hero__shine {
    position: absolute;
    top: -50px; 
    left: 10px; 
    width: 100px; 
    height: auto; 
}

.tp-hero__title {
    font-weight: 500;
    margin-bottom: 0.313rem;
}

.tp-hero__subtitle {
    color: var(--second-text-color);
    font-weight: 400;
    margin-bottom: 1.9rem;
    max-width: 60%;
    margin: 0 auto;
}

.tp-hero__button {
    background-color: var(--primary-btn-color);
    color: var(--white-color);
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 0.8rem 2.3rem;
    border: none;
    border-radius: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.hidden {
    display: none;
}

.tp-hero__content-form,
.tp-hero__content-cheer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}

.tp-map__form,
.tp-hero__cheer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    text-align: center;
}

.tp-map__form-close,
.tp-hero__form-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.tp-map__form-title,
.tp-hero__form-title {
    margin-bottom: 1rem;
    text-align: center;
}
.tp-hero__form-description {
    margin-bottom: 1rem;
    text-align: center;
}

.tp-hero__cheer-img {
    display: block;
    margin: 0 auto 1rem auto; 
    max-width: 100%;
    height: auto;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    margin-bottom: 0.5rem;
}

.form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tp-hero__content__button {
    display: block;
    max-width: 30%;
    margin: 1rem auto 0 auto; 
    border: none;
    border-radius: 1rem;
    padding: 0.8rem 2.3rem;
    background-color: var(--primary-btn-color);
    color: var(--white-color);
}

.tp-map__button:hover,
.tp-hero__content__button:hover {
    background-color: var(--primary-color-dark);
}

.form-footer {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #777;
}

.tp-map__highlight {
    color: var(--primary-btn-color);
    cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 0.5rem;
    display: none;
}

@media (max-width: 658px) {
    .tp-hero__title {
        font-size: 1.5rem;
        line-height: 1.9rem;
        max-width: 70%;
    }
    .tp-hero__subtitle {
        font-size: 0.8rem;
        line-height: 1.5rem;
        max-width: 70%;
    }
    .tp-hero__shine {
        top: -40px; 
        left: -40px; 
        width: 80px;
    }
}

@media (max-width: 375px) {
    .hero {
        padding: 1rem 0; 
        top: 0rem;
    }
    .tp-hero__title {
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin: 0 auto;
    }
    .tp-hero__subtitle {
        font-size: 0.7rem;
        line-height: 1.3rem;
        max-width: 80%;
    }
    .tp-hero__button {
        font-size: 0.8rem;
        line-height: 1rem;
        padding: 0.6rem 1.8rem;
    }
    .tp-hero__shine {
        top: -30px; 
        left: 30px; 
        width: 60px; 
    }
}
